body{
    font-family: 'Montserrat', sans-serif;
    width: 1024px;
    height: 740px;
    display: inline;
}
.Animacion{
    background: linear-gradient(
        to right, #2093c3, #219f9c,
        #2f52a4); 
    background-size: 400% 400%;     
    animation: Animacion 10s infinite ease-in-out;
}
@keyframes Animacion {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.LogoAlura{
    width: auto;
    display: inline;
    position: absolute;
    top: 5%;
    left: 5%;
}
.Textos{
    width: 100%;
    height: 100%;
    display:flex;

}
main{
    height: 500px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.Texto1{
    background: transparent;
    border: transparent;
    flex: 60%;
    padding-left:  10%;
    font-size: 25px;
    outline: none;
    resize: none;
    cursor: pointer;
    
}
::placeholder{
    color: #FFFFFF;
}
.Texto2{
    flex: 20%;
    margin: 0 0 0 0;

    
    
}

.textoencriptado{
    position: relative;
    background: #FFFFFF;
    border-radius: 32px;
    width: 90%;
    height: 90%;
    margin: 5%;


}
.ImgMuñeco{
    width: 70%;
    margin: 0%;
    position: relative;
    padding-left: 15%;
    top: 5%;
    text-align: center;
}

.TextoCuadro{
    font-size: medium;
    text-align: left;
    padding-top: 5%;
    padding-left: 7%;
}

.textoN1{
    position: relative;
    text-align: center;
    font-size: 1em;
   
    font-weight: bold;

}
.textoN2{
    position: relative;
    text-align: center;
    font-size: .8em;    

}

.botonCop{
    position: absolute;
    top: 85%;
    right: 20%;
    width:37.3%;
    height: 9%; 
    margin-left: 10%;
    margin-right: 10%;
    background-color:white;
    font-weight: bold;
    color: #2f52a4;
    text-decoration: none;
    border: 3px solid 
    #8cb6f9;
    border-radius: 10px;

}
.botones{
    position: relative;
    top: -5%;
    left: -10%;
    flex: 100%;
    text-align: center; 
    height: 20%;
    box-sizing: border-box;
    
}

.botonEn, .botonDes{
    
    width:10%;
    height: 60%;
    background-color:white;
    font-weight: bold;
    margin-left: 10%;
    color: #2f52a4;
    text-decoration: none;
    border: 3px solid 
    #8cb6f9;
    border-radius: 10px;

}

.botonEn:hover, .botonDes:hover,.botonCop:hover{
    animation: pulsate 1s 
    ease-in-out;
}
@keyframes pulsate {
   
    0%{
        box-shadow: 
        0 0 10px #ffffff,
        0 0 20px #8cb6f9;
    }
}
footer{
    text-align: center;
    font-weight: bold;
}

.iconos{
    
    text-decoration: none;
    margin: 10px 10px;
    padding: 10px 10px;
    font-size: 25px;
    color: #FFFFFF;
    transition: 0.5s;
}

.iconos:hover{
    color: black;
    font-size: 30px;

}

@media screen and (max-width:480px ) {

    .LogoAlura{
        position: relative;
        width: auto;
    }

    main{
        margin: 0 0 20% 0;
    }

    
    .Textos{
        height: 100%;
        display: inline-block;
    }
    .Texto1{
        width: auto;
        height: 20%;
    }
    .Texto2{
        width: auto;
        height: 70%;
    }

    .ImgMuñeco{
        width: 50%;
        position: relative;
        padding-left: 25%;

    }

    .botones{
        position: relative;
        padding-left: 15%;
        padding-top: 5%;
    }
    .botonEn, .botonDes{
            width: 35%;
    }
    .copyright{
        font-size: 80%
    }
}
